
<style>
    .privacy-policy-section {
        color: #ffffff;
    }

    .privacy-policy-section {
        padding: 70px 16px 110px;
    }

    @media (min-width: 600px) {
        .privacy-policy-section {
            padding: 70px 20px 110px;
        }
    }

    @media (min-width: 768px) {
        .privacy-policy-section {
            padding: 70px 0 110px;
        }
    }

    h1 {
        font-family: 'ITCAvantGardePro';
        font-weight: 300;
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 16px;
        color: #ffffff;
        text-transform: uppercase;
    }

    @media (min-width: 600px) {
        h1 {
            font-size: 72px;
            line-height: 80px;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 16px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }

    @media (min-width: 600px) {
        h2 {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }

    h5 {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }
</style>

<section class="privacy-policy-section">
    <div>
        <h1>{{ page.title }}</h1>
    </div>
    <div>
        {{ page.content }}
    </div>
</section>